*, ::after*, ::before* {
    box-sizing: border-box;
}

body {
    background-color: #D9EDF7;
}


.header {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header h1 {
    font-size: 4em;
    padding: 0;
    margin: 0;
    text-shadow: 3px 1px 2px rgba(41,18,11,0.36);
}

.header h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover{
    color: #FCF8E3; 
}

.header h2 {
    margin: 0;
    margin-bottom: 2em;
    font-size: 1em;
}

.buttons {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    width: 20%;
}

.scoreboard {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    width: 30%;
    padding: 0 2em;

    border: 4px solid #61538D;
    border-radius: 3px;
}

.scores {
    font-family: 'Permanent Marker';
    font-size: 2em;
}

.gameWinner {
    margin: 0 auto;
}